.menu__wrap {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
  column-gap: 20px;
}

@media (max-width:768px) {
  .menu__wrap {
    flex-direction: column;
    align-items: center;
    padding: 0;
    row-gap: 28px;
  }
}

@media (max-width:550px) {
  .menu__wrap {
    row-gap: 25px;
  }
}
