.movie__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 11px;
}

@media (max-width:768px) {
  .movie__info {
    margin-top: 22px;
  }
}

@media (max-width:550px) {
  .movie__info {
    margin-top: 13px;
  }
}