.student__photo {
  grid-area: photo;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width:768px) {
  .student__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width:550px) {
  .student__photo {
    width: 292px;
    height: 352px;
  }
}