.profile__button_edit {
  font-weight: 400;
  cursor: pointer;
}

.profile__button_edit:hover {
  opacity: 0.7;
}


.profile__button_cancel {
  font-weight: 400;
  cursor: pointer;
}

.profile__button_cancel:hover {
  opacity: 0.7;
}
