.navigation__item {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__item:after {
  content: '';
  display: block;
  height: 1px;
  background: #fff; 
  width: auto;
  margin: 0;
}

@media (max-width:550px) {
 .navigation__item {
  font-size: 11px;
 } 
 .navigation__item:not(:last-child) {
  margin-right: 24px;
}
}

.navigation__item:hover {
  color: #ffffff80;
}