.portfolio__work-name {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
}

@media (max-width:768px) {
  .portfolio__work-name {
    font-size: 28px;
    letter-spacing: -1.12px;    
  } 
}

@media (max-width:550px) {
  .portfolio__work-name {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;  
  } 
}