.menu__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: auto;
  margin-bottom: auto;
  width: fit-content;
  text-decoration: none;
  color:inherit;
  position: relative;

  cursor: pointer;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__item:hover{
  color: #00000080;
}


@media (max-width:768px) {
  .menu__item {
    text-align: center;

    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}