.auth {
  max-width: 396px;
  margin: auto;
  margin-top: 70px;
}

@media (max-width:768px) {
  .auth {
    margin-top: 232px;
  }
}

@media (max-width:550px) {
  .auth {
    max-width: 260px;
    margin-top: 56px;
  }
}