.profile__info {
  margin-bottom: 220px;
}

@media (max-width:768px) {
  .profile__info {
    margin-bottom: 210px;
  }
}

@media (max-width: 550px) {
  .profile__info {
      margin-bottom: 379px;
  }
}