.menu__item_active {
  font-weight: 500;
}  
  
@media (max-width:768px) {
  .menu__item_active:after {
    content: '';
    position: absolute; 
    left: 0;
    bottom: -5px;
    height: 2px;
    background: #000; 
    width: 100%;
  }
}

@media (max-width:550px) {
  .menu__item_active:after {
    bottom: -8px;
  }
}