.search__line {
  width: 1px;
  height: 40px;
  background-color: #CBCBCB;
  margin: 0 31px 0 19px;
}

@media (max-width:768px) {
  .search__line {
    margin-right: 23px;
  }
}

@media (max-width:550px) {
  .search__line {
    display: none;
  }
}