.student__about {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 26px;
}

@media (max-width:768px) {
  .student__about {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

@media (max-width:550px) {
  .student__about {
    font-size: 11px;
    line-height: 16px;
  }
}