.tech {
  background-color: #F5F5F5;
  padding-bottom: 100px;
  padding-top: 98px;
}

@media (max-width:768px) {
  .tech {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width:550px) {
  .tech {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}