.profile__error-msg {
  position: absolute;
  bottom: 110px;
  width: 410px;

  text-align: center;
  color: #FF004C;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width:550px) {
  .profile__error-msg {
    max-width: 260px;
  }
}

.profile__error-msg_success {
  color: green;
}